In [1]:
import pandas as pd

In [34]:
data=pd.read_csv('exer.csv',encoding='ANSI')

In [35]:
data=pd.read_table('exer.csv',encoding='ANSI',sep=',')

E:\setup\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [36]:
keys=['amount', 'days', 'count', 'asserts', 'interval', 'repay', 'security', 'kind','is_break']

In [37]:
data=pd.read_csv('exer.csv',encoding='ANSI',header=None)

In [43]:
data=pd.read_csv('exer.csv',encoding='ANSI',header=None,names=keys)

In [44]:
data

     amount  days  count   asserts  interval repay security kind  is_break
0  470000.0  6939    1.0  16421.58         0   NaN       抵押   住房         0
1  310000.0  5113    NaN   3010.21         0  等额本金       抵押   住房         0
2  400000.0  1096    2.0   3453.84     -5700  等额本息       抵押   汽车         0
3  320000.0  7305    1.0   1844.25         0  等额本息       抵押   住房         0

In [62]:
data2=pd.read_csv('exer.csv',encoding='ANSI',header=None,names=keys, na_values=['foo',"住房"])

In [63]:
data2

     amount  days  count   asserts  interval repay security kind  is_break
0  470000.0  6939    1.0  16421.58         0   NaN      NaN   住房         0
1  310000.0  5113    NaN   3010.21         0  等额本金       抵押   住房         0
2  400000.0  1096    2.0   3453.84     -5700  等额本息       抵押   汽车         0
3  320000.0  7305    1.0   1844.25         0  等额本息       抵押   住房         0