In [1]:
import pandas as pd

In [34]:
data=pd.read_csv('exer.csv',encoding='ANSI')

In [35]:
data=pd.read_table('exer.csv',encoding='ANSI',sep=',')

E:\setup\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [36]:
keys=['amount', 'days', 'count', 'asserts', 'interval', 'repay', 'security', 'kind','is_break']

In [37]:
data=pd.read_csv('exer.csv',encoding='ANSI',header=None)

In [43]:
data=pd.read_csv('exer.csv',encoding='ANSI',header=None,names=keys)

In [44]:
data

     amount  days  count   asserts  interval repay security kind  is_break
0  470000.0  6939    1.0  16421.58         0   NaN       抵押   住房         0
1  310000.0  5113    NaN   3010.21         0  等额本金       抵押   住房         0
2  400000.0  1096    2.0   3453.84     -5700  等额本息       抵押   汽车         0
3  320000.0  7305    1.0   1844.25         0  等额本息       抵押   住房         0

In [62]:
data2=pd.read_csv('exer.csv',encoding='ANSI',header=None,names=keys, na_values=['foo',"住房"])

In [63]:
data2

     amount  days  count   asserts  interval repay security kind  is_break
0  470000.0  6939    1.0  16421.58         0   NaN      NaN   住房         0
1  310000.0  5113    NaN   3010.21         0  等额本金       抵押   住房         0
2  400000.0  1096    2.0   3453.84     -5700  等额本息       抵押   汽车         0
3  320000.0  7305    1.0   1844.25         0  等额本息       抵押   住房         0

In [69]:
pd.options.display.max_rows=15

In [70]:
data=pd.read_csv('train_data.csv',encoding='ANSI',header=None,names=keys)

In [71]:
data

,amount,days,count,asserts,interval,repay,security,kind,is_break
0,470000.0,6939,1,16421.58,0,等额本金,抵押,住房,0
1,310000.0,5113,1,3010.21,0,等额本金,抵押,住房,0
2,400000.0,1096,2,3453.84,-5700,等额本息,抵押,汽车,0
3,320000.0,7305,1,1844.25,0,等额本息,抵押,住房,0
4,50000.0,1095,1,314.88,0,按周期结息到期还本,信用,农、林、牧、渔业,0
5,50000.0,1096,1,11381.27,0,按周期结息到期还本,信用,农、林、牧、渔业,0
6,880000.0,7305,1,994.15,0,等额本金,抵押,住房,0
...,...,...,...,...,...,...,...,...,...
333753,380000.0,7305,1,653.96,0,等额本金,抵押,住房,0
333754,100000.0,365,3,1657.66,-363,按周期结息到期还本,抵押,建筑业,0
333755,269000.0,7305,1,445.20,0,等额本息,保证,住房,0
333756,200000.0,365,1,149.62,0,按周期结息到期还本,抵押,其他,0
333757,10000.0,3653,8,427.84,-3540,等额本息,抵押,其他,0
333758,900000.0,10957,1,597.84,0,等额本金,抵押,住房,0
333759,900000.0,1826,16,79.29,-1825,阶段性等额本息,抵押,住宿和餐饮业,1

In [73]:
data=pd.read_csv('train_data.csv',encoding='ANSI',header=None,names=keys, nrows=5)

In [105]:
data

,amount,days,count,asserts,interval,repay,security,kind,is_break
0,470000.0,6939,1,16421.58,0,等额本金,抵押,住房,0
1,310000.0,5113,1,3010.21,0,等额本金,抵押,住房,0
2,400000.0,1096,2,3453.84,-5700,等额本息,抵押,汽车,0
3,320000.0,7305,1,1844.25,0,等额本息,抵押,住房,0
4,50000.0,1095,1,314.88,0,按周期结息到期还本,信用,农、林、牧、渔业,0

In [99]:
chunke=pd.read_csv('train_data.csv',encoding='ANSI',header=None,names=keys, chunksize=1000)

In [100]:
chunke

In [101]:
tot=pd.Series([])

In [92]:
for piece in chunke:
    tot=tot.add(piece['is_break'].value_counts(),fill_value=0)

In [102]:
for piece in chunke:
    tot=tot.add(piece['keys'].value_counts(),fill_value=0)

KeyError: 'keys'

In [103]:
tot=tot.sort_values()

In [104]:
tot

Series([], dtype: float64)

In [106]:
data

,amount,days,count,asserts,interval,repay,security,kind,is_break
0,470000.0,6939,1,16421.58,0,等额本金,抵押,住房,0
1,310000.0,5113,1,3010.21,0,等额本金,抵押,住房,0
2,400000.0,1096,2,3453.84,-5700,等额本息,抵押,汽车,0
3,320000.0,7305,1,1844.25,0,等额本息,抵押,住房,0
4,50000.0,1095,1,314.88,0,按周期结息到期还本,信用,农、林、牧、渔业,0

In [107]:
import sys

In [114]:
import numpy as np

In [108]:
data.to_csv(sys.stdout, sep='|')

|amount|days|count|asserts|interval|repay|security|kind|is_break
0|470000.0|6939|1|16421.58|0|等额本金|抵押|住房|0
1|310000.0|5113|1|3010.21|0|等额本金|抵押|住房|0
2|400000.0|1096|2|3453.84|-5700|等额本息|抵押|汽车|0
3|320000.0|7305|1|1844.25|0|等额本息|抵押|住房|0
4|50000.0|1095|1|314.88|0|按周期结息到期还本|信用|农、林、牧、渔业|0

In [109]:
data.to_csv(sys.stdout, index=False, header=False)

470000.0,6939,1,16421.58,0,等额本金,抵押,住房,0
310000.0,5113,1,3010.21,0,等额本金,抵押,住房,0
400000.0,1096,2,3453.84,-5700,等额本息,抵押,汽车,0
320000.0,7305,1,1844.25,0,等额本息,抵押,住房,0
50000.0,1095,1,314.88,0,按周期结息到期还本,信用,农、林、牧、渔业,0

In [111]:
dates=pd.date_range('1/1/2000',periods=7)

In [112]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [115]:
ts=pd.Series(np.arange(7), index=dates)

In [116]:
ts.to_csv(sys.stdout)

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

E:\setup\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [117]:
import csv

In [119]:
f=open('exer.csv')

In [120]:
reader=csv.reader(f)

In [122]:
for line in reader:
    print(line)

['470000.0', '6939', '1', '16421.58', '0', '', 'foo', '住房', '0']
['310000.00', '5113', '', '3010.21', '0', '等额本金', '抵押', '住房', '0']
['400000.0', '1096', '2', '3453.84', '-5700', '等额本息', '抵押', '汽车', '0']
['320000.0', '7305', '1', '1844.25', '0', '等额本息', '抵押', '住房', '0']

In [124]:
with open('exer.csv') as f:
    lines=list(csv.reader(f))

In [125]:
lines

[['470000.0', '6939', '1', '16421.58', '0', '', 'foo', '住房', '0'],
 ['310000.00', '5113', '', '3010.21', '0', '等额本金', '抵押', '住房', '0'],
 ['400000.0', '1096', '2', '3453.84', '-5700', '等额本息', '抵押', '汽车', '0'],
 ['320000.0', '7305', '1', '1844.25', '0', '等额本息', '抵押', '住房', '0']]

In [134]:
obj = """{"name":"Wes","places":["United States","Spain"],"pet":null}"""

In [135]:
import json

In [136]:
ret=json.loads(obj)

In [137]:
j=json.dumps(ret)

In [138]:
ret

{'name': 'Wes', 'places': ['United States', 'Spain'], 'pet': None}

In [139]:
j

'{"name": "Wes", "places": ["United States", "Spain"], "pet": null}'

In [141]:
data

,amount,days,count,asserts,interval,repay,security,kind,is_break
0,470000.0,6939,1,16421.58,0,等额本金,抵押,住房,0
1,310000.0,5113,1,3010.21,0,等额本金,抵押,住房,0
2,400000.0,1096,2,3453.84,-5700,等额本息,抵押,汽车,0
3,320000.0,7305,1,1844.25,0,等额本息,抵押,住房,0
4,50000.0,1095,1,314.88,0,按周期结息到期还本,信用,农、林、牧、渔业,0

In [142]:
data.to_json()

'{"amount":{"0":470000.0,"1":310000.0,"2":400000.0,"3":320000.0,"4":50000.0},"days":{"0":6939,"1":5113,"2":1096,"3":7305,"4":1095},"count":{"0":1,"1":1,"2":2,"3":1,"4":1},"asserts":{"0":16421.58,"1":3010.21,"2":3453.84,"3":1844.25,"4":314.88},"interval":{"0":0,"1":0,"2":-5700,"3":0,"4":0},"repay":{"0":"\\u7b49\\u989d\\u672c\\u91d1","1":"\\u7b49\\u989d\\u672c\\u91d1","2":"\\u7b49\\u989d\\u672c\\u606f","3":"\\u7b49\\u989d\\u672c\\u606f","4":"\\u6309\\u5468\\u671f\\u7ed3\\u606f\\u5230\\u671f\\u8fd8\\u672c"},"security":{"0":"\\u62b5\\u62bc","1":"\\u62b5\\u62bc","2":"\\u62b5\\u62bc","3":"\\u62b5\\u62bc","4":"\\u4fe1\\u7528"},"kind":{"0":"\\u4f4f\\u623f","1":"\\u4f4f\\u623f","2":"\\u6c7d\\u8f66","3":"\\u4f4f\\u623f","4":"\\u519c\\u3001\\u6797\\u3001\\u7267\\u3001\\u6e14\\u4e1a"},"is_break":{"0":0,"1":0,"2":0,"3":0,"4":0}}'

In [143]:
data.to_json(orient='records')

'[{"amount":470000.0,"days":6939,"count":1,"asserts":16421.58,"interval":0,"repay":"\\u7b49\\u989d\\u672c\\u91d1","security":"\\u62b5\\u62bc","kind":"\\u4f4f\\u623f","is_break":0},{"amount":310000.0,"days":5113,"count":1,"asserts":3010.21,"interval":0,"repay":"\\u7b49\\u989d\\u672c\\u91d1","security":"\\u62b5\\u62bc","kind":"\\u4f4f\\u623f","is_break":0},{"amount":400000.0,"days":1096,"count":2,"asserts":3453.84,"interval":-5700,"repay":"\\u7b49\\u989d\\u672c\\u606f","security":"\\u62b5\\u62bc","kind":"\\u6c7d\\u8f66","is_break":0},{"amount":320000.0,"days":7305,"count":1,"asserts":1844.25,"interval":0,"repay":"\\u7b49\\u989d\\u672c\\u606f","security":"\\u62b5\\u62bc","kind":"\\u4f4f\\u623f","is_break":0},{"amount":50000.0,"days":1095,"count":1,"asserts":314.88,"interval":0,"repay":"\\u6309\\u5468\\u671f\\u7ed3\\u606f\\u5230\\u671f\\u8fd8\\u672c","security":"\\u4fe1\\u7528","kind":"\\u519c\\u3001\\u6797\\u3001\\u7267\\u3001\\u6e14\\u4e1a","is_break":0}]'

In [ ]:
tables=pd.read_html()

In [144]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [145]:
dates.year

Int64Index([2000, 2000, 2000, 2000, 2000, 2000, 2000], dtype='int64')

In [146]:
from io import StringIO

In [148]:
from lxml import objectify

In [149]:
tag='<a href="http://www.baidu.com">baidu</a>'

In [150]:
root=objectify.parse(StringIO(tag)).getroot()

In [151]:
root

In [152]:
root.get('href')

'http://www.baidu.com'

In [153]:
root.text

'baidu'

In [155]:
data

,amount,days,count,asserts,interval,repay,security,kind,is_break
0,470000.0,6939,1,16421.58,0,等额本金,抵押,住房,0
1,310000.0,5113,1,3010.21,0,等额本金,抵押,住房,0
2,400000.0,1096,2,3453.84,-5700,等额本息,抵押,汽车,0
3,320000.0,7305,1,1844.25,0,等额本息,抵押,住房,0
4,50000.0,1095,1,314.88,0,按周期结息到期还本,信用,农、林、牧、渔业,0

In [156]:
data.to_pickle('data_pickle')

In [157]:
pd.read_pickle('data_pickle')

,amount,days,count,asserts,interval,repay,security,kind,is_break
0,470000.0,6939,1,16421.58,0,等额本金,抵押,住房,0
1,310000.0,5113,1,3010.21,0,等额本金,抵押,住房,0
2,400000.0,1096,2,3453.84,-5700,等额本息,抵押,汽车,0
3,320000.0,7305,1,1844.25,0,等额本息,抵押,住房,0
4,50000.0,1095,1,314.88,0,按周期结息到期还本,信用,农、林、牧、渔业,0